@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 95%;
    --foreground: 200 15% 20%;
    --card: 0 0% 100%;
    --card-foreground: 200 15% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 15% 20%;
    --primary: 200 15% 27%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 16% 90%;
    --secondary-foreground: 200 15% 27%;
    --muted: 210 16% 90%;
    --muted-foreground: 200 10% 45%;
    --accent: 16 100% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 88%;
    --input: 210 15% 88%;
    --ring: 16 100% 63%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 204 14% 12%;
    --foreground: 210 40% 98%;
    --card: 200 15% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 204 14% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 200 15% 27%;
    --secondary: 200 15% 16%;
    --secondary-foreground: 210 40% 98%;
    --muted: 200 15% 16%;
    --muted-foreground: 210 40% 98%;
    --accent: 16 100% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 15% 20%;
    --input: 200 15% 20%;
    --ring: 16 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
